@import url(http://fonts.googleapis.com/css?family=Exo+2:400,200,600,800);
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
/* header */




















footer{
    background-color: rgba(0, 0, 0, 0.507);

}

